<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SWYH.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <userSettings>
    <SWYH.Properties.Settings>
      <setting name="CaptureFormat" serializeAs="String">
        <value>Pcm48kHz16bitStereo</value>
      </setting>
      <setting name="Mp3Bitrate" serializeAs="String">
        <value>192</value>
      </setting>
      <setting name="StreamPreferenceFormat" serializeAs="String">
        <value>Mp3</value>
      </setting>
      <setting name="HTTPPort" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Debug" serializeAs="String">
        <value>True</value>
      </setting>
    </SWYH.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
